/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/container/faq/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.animate-showup {
  animation: showup 1s 0s 1 ease-out forwards;
  opacity: 0;
}
@keyframes showup {
  to {
    opacity: 1;
  }
}
